body{
    font-family: 'Reddit Mono', monospace;
}

.header-background{
    background-color: #D23141;
}

.navbar div p,
.navbar div p:hover{
    color: #FFF;
}

nav ul li a{
    text-decoration: none;
    color: #FFF;
    background-color: #0E1820;
}

.text-colored{
    color: #D23141;
}

.text-colored-like-black{
    color: #0E1820;
}

.carousel-item img {
    height: 800px;
    
}

#Sobre-a-beta{
    background-color: #0E1820;
    color: #EEE7E5;
}

.btn.active{
    background-color: #D23141;
    border: none;
    outline: none;
}

.play-now a{
    color: #D23141;
    text-decoration: none;
}

.pc-button.active,
.pc-button:hover,
.steam-play-now-button{
    background-color: #000;
}

.xbox-button.active,
.xbox-button:hover,
.xbox-play-now-button{
    background-color: #107C10;
}

.playstation-button.active,
.playstation-button:hover,
.playstation-play-now-button{
    background-color: #004EA2;
}

.switch-button.active,
.switch-button:hover,
.switch-play-now-button{
    background-color: #E60012;
}

textarea{
    resize: none;
}

#icons ul li{
    list-style: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 228px;
    }
}